In [1]:
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
# Select stocks and time range for analysis
stocks     = ['AAPL', 'AMZN', 'GOOG', 'MSFT', 'ORCL']
start_date = '2012-06-01'
end_date   = '2018-12-01' 

# load yahoo data for analysis
st_data = data.DataReader(stocks,'yahoo',start_date,end_date)
st_data.head()

Attributes       High                                                \
Symbols          AAPL        AMZN        GOOG       MSFT       ORCL
Date
2012-06-01  81.807144  211.229996  284.474762  28.959999  26.280001
2012-06-04  81.071426  215.350006  288.369446  28.780001  26.340000
2012-06-05  80.924286  216.860001  287.197052  28.750000  26.940001
2012-06-06  81.978569  218.399994  289.104645  29.370001  27.570000
2012-06-07  82.474289  221.490005  292.045532  29.700001  27.760000

Attributes        Low                                                \
Symbols          AAPL        AMZN        GOOG       MSFT       ORCL
Date
2012-06-01  80.074287  207.300003  282.338654  28.440001  25.900000
2012-06-04  78.357140  206.369995  283.163300  28.320000  25.840000
2012-06-05  79.761429  211.160004  281.404724  28.389999  26.070000
2012-06-06  80.785713  214.520004  284.951660  28.809999  26.879999
2012-06-07  81.500000  218.110001  286.759918  29.170000  27.180000

Attributes    ...           Volume                                    \
Symbols       ...             AAPL       AMZN       GOOG        MSFT
Date          ...
2012-06-01    ...      130246900.0  3951500.0  6155600.0  56634300.0
2012-06-04    ...      139248900.0  4299600.0  4896900.0  47926300.0
2012-06-05    ...       97053600.0  3543900.0  4710100.0  45715400.0
2012-06-06    ...      100363900.0  2710100.0  4218800.0  46860500.0
2012-06-07    ...       94941700.0  3503900.0  3539800.0  37792800.0

Attributes              Adj Close                                     \
Symbols           ORCL       AAPL        AMZN        GOOG       MSFT
Date
2012-06-01  30739700.0  53.667721  208.220001  283.645172  24.127708
2012-06-04  28945200.0  53.983429  214.570007  287.425568  24.212513
2012-06-05  28412000.0  53.843765  213.210007  283.362000  24.178593
2012-06-06  27639000.0  54.669357  217.639999  288.409180  24.890968
2012-06-07  32896100.0  54.694237  218.800003  287.246735  24.789200

Attributes
Symbols          ORCL
Date
2012-06-01  23.754501
2012-06-04  23.937229
2012-06-05  24.403181
2012-06-06  25.152365
2012-06-07  24.832590

[5 rows x 30 columns]

In [17]:
close_price = st_data['Close']
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')
close_price = close_price.reindex(all_weekdays).fillna(method='ffill')
close_price.describe()

Symbols         AAPL         AMZN         GOOG         MSFT         ORCL
count    1696.000000  1696.000000  1696.000000  1696.000000  1696.000000
mean      116.949559   680.441581   689.332600    55.099481    40.379516
std        40.858863   469.605378   251.430202    23.191038     5.943175
min        55.790001   208.220001   277.718719    26.370001    26.000000
25%        84.982145   310.872513   521.435486    37.470001    35.707500
50%       109.485001   521.809998   632.260010    47.750000    40.220001
75%       143.535000   902.714996   846.014999    65.730003    44.720001
max       232.070007  2039.510010  1268.329956   115.610001    52.970001

In [26]:
avg_return = close_price.diff().mean()
std_var    = close_price.diff().std()
corr       = close_price.diff().corr()
rf         = 0.02/365
print (avg_return, std_var, corr)

Symbols
AAPL    0.058076
AMZN    0.874307
GOOG    0.478339
MSFT    0.048637
ORCL    0.013428
dtype: float64 Symbols
AAPL     1.853525
AMZN    15.285206
GOOG    10.342930
MSFT     0.856398
ORCL     0.534138
dtype: float64 Symbols      AAPL      AMZN      GOOG      MSFT      ORCL
Symbols
AAPL     1.000000  0.478755  0.491826  0.515974  0.341705
AMZN     0.478755  1.000000  0.633607  0.642546  0.294759
GOOG     0.491826  0.633607  1.000000  0.668454  0.396723
MSFT     0.515974  0.642546  0.668454  1.000000  0.460728
ORCL     0.341705  0.294759  0.396723  0.460728  1.000000